@using PegassusBooking.Utilities
@model PagedResult<PegassusBooking.View.AppointmentViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PatientsLayout.cshtml";
}

<h2>Your Appointments</h2>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Appointment Date
                </th>
                <th>
                    Duration
                </th>
                <th>
                    Type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduledDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a asp-action="Select">Create New Appointment</a>
    </p>
}
else
{
    <p>You currently have 0 appointments!</p>
}
